@import './variables';
@import './functions_mixins';

* {
  transition: all 0.3s;
};

.layout-row {
  display: flex;
  justify-content: space-between;
  background-color: $colorBackground;
};

.matrix-container {
  width: $matrixLength;
  height: $matrixLength;
  margin: auto;
};

.blank-matrix {
  width: $matrixLength;
  height: $matrixLength;
  margin: auto;
  background: $colorLightest;
};

.matrix-table {
  width: 100%;
  height: 100%;
  background-color: $colorLightest;
};

.tone {
  width: 27px;
  height: 27px;
  background-color: $colorLight;
  cursor: pointer;
  transition: all 0.3s;

  &.column-active {
    background-color: $colorLighter;
  }

  &.active {
    background-color: $colorDarker;
  }

  &.column-active.active {
    background-color: $colorLightest;
  }

  &:hover {
    background-color: $colorDark;
  };
};

.tracks-container {
  display: flex;
};

.mini-tone {
  width: 3px;
  height: 3px;
  background-color: $colorLight;
  border-left: 1px solid $colorDarkest;
  border-bottom: 1px solid $colorDarkest;
  box-sizing: border-box;

  &.column-active {
    background-color: $colorLighter;
  }

  &.active {
    background-color: $colorDarker;
  }
};

.mini-matrix-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
};

.add-track-button-container {
  @include flex_centered();
  width: $miniMatrixLength;
  height: $miniMatrixLength;
  background: $colorLight;
  cursor: pointer;
  border: 1px solid $colorDarkest;
  font-size: 30px;
  cursor: pointer;
};

.track-container {
  border: 1px solid $colorDarkest;
  opacity: 0.8;

  &.active {
    opacity: 1;
  }
};

.mini-matrix-container {
  width: $miniMatrixLength;
  height: $miniMatrixLength;
  background-color: $colorLightest;
  cursor: pointer;
};

.instrument-selector-container {
  position: relative;
}

.instrument-icon-container {
  @include flex_centered();
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  cursor: pointer;

  &:hover {
    background-color: $colorLighter;
  }

  &.active {
    background-color: $colorLightest;
  }
}

.instrument-switch-icon-container { // TODO this and above are real similar
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  @include flex_centered();

  &:hover {
    transform: rotate(360deg);
  }
}

.instrument-selector-dropdown {
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  position: absolute;
  overflow: hidden;
  background-color: $colorLight;
  font-size: 30px;

  &:hover {
    // magic num = num instruments + num tunings + 1 + room for the <hr>
    height: $miniMatrixLength * 7 + 20px;
  }
}

.instrument-selector-place-holder { // adds doc flow space holder
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  z-index: -1;
}

.tuning-icon-container {
  @include flex_centered();
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  cursor: pointer;

  &:hover {
    background-color: $colorLighter;
  }

  &.active {
    background-color: $colorLightest;
  }
}
.track-body-container {
  width: $trackBodyWidth;
  height: $trackBodyHeight;
  background-color: $colorLightest;
};

.track-remove-button-container {
  @include flex_centered();
  width: $trackRemoveButtonLength;
  height: $trackRemoveButtonLength;
  background-color: $colorDarkest;
  cursor: pointer;
  font-size: 30px;
};

.slot {
  height: $trackBodyHeight / 8; // TODO un-hardcode
  border-bottom: 1px solid $colorDarkest;
  cursor: pointer;

  &:hover {
    background: $colorLighter;
  }

  &.active {
    background: $colorDark;
  }

  &.playing {
    box-shadow: inset 0 0 50px yellow;
  }
};

.play-button-container {
  @include flex_centered();
  width: 100px;
  background: $colorDarkest;
  height: $mainMenuHeight;
  line-height: 50px;
  font-size: 30px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;
};
