@import './variables';

* {
  transition: all 0.3s;
};

.layout-row {
  display: flex;
  justify-content: space-between;
  background-color: $colorBackground;
};

.matrix-container {
  width: $matrixLength;
  height: $matrixLength;
  margin: auto;
};

.blank-matrix {
  width: $matrixLength;
  height: $matrixLength;
  margin: auto;
  background: $green;
};

.matrix-table {
  width: 100%;
  height: 100%;
  background-color: $blue;
};

.tone-container {
  width: 27px;
  height: 27px;
  background-color: $green;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $black;
  };
};

.tone-container-active {
  background-color: $red;
};

.tracks-container {
  display: flex;
};

.mini-tone {
  width: 3px;
  height: 3px;
  background-color: $green;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
};

.mini-tone-active {
  background-color: $red;
};

.mini-matrix-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
};

.add-track-button-container {
  width: $miniMatrixLength;
  height: $miniMatrixLength;
  background: $blue;
  cursor: pointer;
  border: 1px solid $black;
  text-align: center;
  line-height: $miniMatrixLength;
  font-size: 30px;
};

.track-container {
  border: 1px solid $black;
};

.mini-matrix-container {
  width: $miniMatrixLength;
  height: $miniMatrixLength;
  background-color: $blue;
  cursor: pointer;
};

.instrument-selector-container {
  position: relative;
}

.instrument-icon-container {
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: yellow;
  }

  &.active {
    background-color: salmon;
  }
}

.instrument-switch-icon-container { // TODO this and above are real similar
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: rotate(360deg);
  }
}

.instrument-selector-dropdown {
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: cyan;
  font-size: 30px;

  &:hover {
    // magic num = num instruments + num tunings + 1 + room for the <hr>
    height: $miniMatrixLength * 7 + 20px;
  }
}

.instrument-selector-place-holder { // adds doc flow space holder
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  z-index: -1;
}

.tuning-icon-container {
  height: $miniMatrixLength;
  width: $miniMatrixLength;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: yellow;
  }

  &.active {
    background-color: pink;
  }
}
.track-body-container {
  width: $trackBodyWidth;
  height: $trackBodyHeight;
  background-color: $orange;
};

.track-remove-button-container {
  width: $trackRemoveButtonLength;
  height: $trackRemoveButtonLength;
  background-color: $red;
  text-align: center;
  cursor: pointer;
  line-height: $trackRemoveButtonLength;
  font-size: 30px;
};

.slot-container {
  height: $trackBodyHeight / 8; // TODO un-hardcode
  border-bottom: 1px solid red;
  cursor: pointer;

  &:hover {
    background: yellow;
  }

  &.active {
    background: purple;
  }
};

.play-button-container {
  display: flex;
  align-items: center;
  width: 100px;
  background: red;
  height: $mainMenuHeight;
  justify-content: center;
  line-height: 50px;
  font-size: 30px;
  margin-left: auto;
};
