$colorBackground: #392B69;
$colorLightest: #EDD6B4;
$colorLighter: #8DC2BC;
$colorLight: #E2AE63;
$colorDark: #BE7467;
$colorDarker: #539770;
$colorDarkest: #4B7D74;

$matrixLength: 500px;

$miniMatrixLength: 50px;

$trackRemoveButtonLength: $miniMatrixLength;

$trackBodyWidth: $miniMatrixLength;
$trackBodyHeight: $matrixLength - $miniMatrixLength - $trackRemoveButtonLength;

$mainMenuWidth: $matrixLength * 2;
$mainMenuHeight: $miniMatrixLength;

