// I try to variablize as much as possible for easy changing.
// Obviously the color scheme needs to be changed in this app,
// And this is where that'll be done (when I find a beautiful
// enough color scheme!)

$colorBackground: black;
$colorDarkest: #4B7D74;
$colorDarker: #539770;
$colorDark: #BE7467;
$colorLight: #E2AE63;
$colorLighter: #8DC2BC;
$colorLightest: #EDD6B4;

// "muted neon color palette"
$colorBackground: #392B69;
$orange: #F36A19;
$red: #D22133;
$green: #A4B438;
$blue: #088C9B;
$black: #2B363C;


$matrixLength: 500px;

$miniMatrixLength: 50px;

$trackRemoveButtonLength: $miniMatrixLength;

$trackBodyWidth: $miniMatrixLength;
$trackBodyHeight: $matrixLength - $miniMatrixLength - $trackRemoveButtonLength;

$mainMenuWidth: $matrixLength * 2;
$mainMenuHeight: $miniMatrixLength;

