$colorLightest: #E99536;
$colorLighter: #C0512F;
$colorLight: #732548;
$colorDark: #3F294C;
$colorBackground: #2B345A;

$matrixLength: 500px;

$miniMatrixLength: 50px;

$trackRemoveButtonLength: $miniMatrixLength;

$trackBodyWidth: $miniMatrixLength;
$trackBodyHeight: $matrixLength - $miniMatrixLength - $trackRemoveButtonLength;

$mainMenuWidth: $matrixLength * 2;
$mainMenuHeight: $miniMatrixLength;

